.card {
    background-color: $color_blue_card_bg;
    width: 350px;
    height: 596px;
    text-align: left;
    border-radius: 15px;
    padding: 24px;
    margin-top: 152px;

    &__img {
        img {
            border-radius: 8px;
        }
        

        &:hover {
            color: $color_cyan;
        }
    }

    &__title {
        color: $color_white;
        @include font_heading;

        &:hover {
            color: $color_cyan;
        }
    }

    &__text {
        @include font_body;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__eth {
        display: flex;
        align-items: center;
        gap: 6.48px;
        color: $color_cyan;
        @include font_caption_bold;
    }

    &__time {
        display: flex;
        align-items: center;
        gap: 7.7px;
        color: $color_blue_soft;
        @include font_caption;
    }

    hr {
        width: 302px;
        border: 1px solid $color_blue_line;
    }

    &__user {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    &__photo {
        width: 33px;
        height: 33px;
        border: 1px solid $color_white;
        border-radius: 33px;
        margin-right: 16px
    }

    &__name {
        color: $color_blue_soft;
        @include font_caption;

        span {
            color: $color_white;
            @include font_caption_bold
        }

        span:hover {
            color: $color_cyan;
        }
    }
}